<!DOCTYPE html>

<html>
  <header>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </header>

  <body>
      <div class="main-content">
        {{>header}}
        <p>This site was created by Andrew Mead. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="./img/IMG_7151.JPG" alt="" />
       </div>
      {{>footer}}

  </body>
</html>
